.container
    background-image: url('./globo.jpg')
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    width: 100vw
    .home
        position: fixed
        top: 2vh
        left: 0
        z-index: 10
        img
            width: 5rem
            height: 5rem
            margin-left:-1rem
    .card
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 90vh
        width: 40vw
        background: rgb(28,48,46)
        background: linear-gradient(0deg, rgba(28,48,46,1) 0%, rgba(9,109,121,1) 50%, rgba(112,193,184,1) 100%)
        color: white
        border-radius: 4vh
        img
            height: 20vh
            border-radius: 5%
            margin-bottom: 2vh
            
        
