.container
    background-image: url('../../assets/globo.jpg')
    background-size: cover
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    height: 100vh
    width: 100vw
    .home
        position: fixed
        top: 2vh
        left: 0
        z-index: 10
        img
            width: 5rem
            height: 5rem
            margin-left:-1rem
    .card
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 90vh
        width: 40vw
        // overflow-y: scroll
        //background-image: url('../../assets/travel1.jpg')
        // background: rgba(37, 37, 37, 0.49)
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
        backdrop-filter: blur(5px)
        -webkit-backdrop-filter: blur(5px)
        border: 1px solid rgba(37, 37, 37, 0.3)
        background-size: cover
        background-position: center
        color: white
        border-radius: 4vh
        border: 2px solid 
        outline: none
        border-color: #0186f3
        box-shadow: 0 0 3vw #0186f3
        position: relative
        h1
            text-transform: uppercase
            color: #989696
            font-weight: bold
            font-size: 3rem
        img
            width: 16vw
            margin-bottom: 2vh
        .info
            width: 26vw
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            div
                width: 26vw
                display: flex
                flex-direction: row
                justify-content: start
                align-items: center
                margin: -0.5rem
                h4
                    font-size: 1.5rem
                    font-weight: extra-bold
                    color: black
                    margin-left: 1rem
                    margin-right: 0.5rem
                p
                    font-size: 1.3rem
                    font-weight: bold
                    color: white
                img
                    height: 2.2rem
                    width: 2.2rem
                    margin-right: 1rem
                    margin-left: 1rem
                    margin-top: 0.5rem
        .return
            background: transparent
            border: none
            color: #000000
            padding: 1vh 2vw
            text-align: center
            text-decoration: none
            position: absolute
            top: 1vh
            left: -1vw
            font-size: 1.5rem
            border-radius: 2vh
            img
                width: 2rem
                height: 2rem
                margin-left: 1rem
                margin-bottom: 0.5rem
        .actBtn
            background-color: #0186f3
            border: none
            color: white
            padding: 1vh 1vw
            text-align: center
            text-decoration: none
            position: absolute
            top: 2vh
            right: 1vw
            font-size: 1.5rem
            border-radius: 2vh
            img
                width: 2rem
                height: 2rem
                margin-left: 1rem
                margin-bottom: 0.5rem
            &:hover
                scale: 1.05
                cursor: pointer
                transition: all 0.2s ease-in-out


    .back
        overflow-y: scroll
        scroll-behavior: smooth
        height: 100%
        width: 98%
        justify-content: center
        &::-webkit-scrollbar
            height: 0
            width: 10px
            background: transparent
            &-thumb
                background: #888
                border-radius: 10px
            

    .activity
        display: flex
        flex-direction: row
        align-items: center
        justify-content: space-between
        gap: 2vh
        border-radius: 4vh
        width: 90%
        margin-right: 2vh
        margin-bottom: 2vh
        margin-left: 2vh
        border: 1px solid #000
        background: #c0c0c0
        background-size: cover
        background-position: center
        color: #000000
        .actInfo

            display: flex
            flex-direction: column
            align-items: center
            text-align: start
            p
                width: 100%
        h3
            // rotate: -90deg
            color: #000
            text-transform: uppercase
            margin-left: 2vh
        img
            width: 10vw
            margin-bottom: 1vh
            border-radius: 2vh
            margin-right: 1vh

            
        
