.container
    background-image: url('../../assets/travel7.jpg')
    background-size: cover
    overflow-y: scroll
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    .home
        position: fixed
        top: 2vh
        left: 0
        z-index: 10
        img
            width: 5rem
            height: 5rem
            margin-left:-1rem
    .container1
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        height: auto
        .form
            display: flex
            flex-direction: row
            align-items: center
            justify-content: center
            width: 50vw
            height: auto
            padding: 0
            gap: 0
            border: 1px solid black
            border-radius: 4vh
            // background: rgb(28,48,46)
            // background: linear-gradient(151deg, rgba(28,48,46,1) 0%, rgba(9,109,121,1) 50%, rgba(112,193,184,1) 100%)
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1)
            backdrop-filter: blur(10px)
            -webkit-backdrop-filter: blur(5px)
            border: 1px solid rgba(37, 37, 37, 0.3)
            border-color: #0186f3
            box-shadow: 0 0 3vw #0186f3
            // color: whites
            .column2
                width: 25vw
                img
                    width: 20vw
                    border-radius: 5%
                    margin-left: 2rem
                    margin-right: 2rem
            .column1
                width: 25vw
                height: 100%
                display: flex
                flex-direction: column
                align-items: center
                justify-content: center
            input
                color: rgb(100,100 ,100 )
                width: 20vw
                height: 5vh
                margin: 1vh
                border: 1px solid #000
                border-radius: 1vh
                padding: 1vh
                font-size: 2vh
            .select
                width: 21vw
                border-radius: 1vh
                margin-bottom: 1vh
                input
                    width: 100%
                    height: 5vh
                    margin: 2vh
                    margin-bottom: 2vh
                    font-size: 2vh
                    color: #000000
            .error
                border: 2px solid red
            
            p
                color: red
                font-size: 2vh
                font-weight: bold
                width: 20vw
                margin-top: -0.7vh
                text-align: start
